.sticky {
  position: fixed;
}

.case-study-list,
.filter-list {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.case-study-list {
  width: 660px;
}

.case-study {
  margin-bottom: 2em;
}

.case-study--hidden {
  display: none;
}

.case-study__video {
  padding-bottom: 56.25%;
  position: relative;
  margin-bottom: 1.5rem;
  width: 100%;
}

.case-study__video iframe {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.case-study__information {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.case-study__details {
  float: left;
  width: 60%;
}

.case-study__details h3,
.case-study__details p {
  font-size: 1.125rem;
}

.case-study__details p {
  margin-bottom: 0;
}

.case-study__cta {
  float: right;
  font-size: 1.25rem;
  text-align: right;
  width: 40%;
}

.case-study__cta a {
  font-weight: normal;
}

.case-study__cta button {
  background-color: #ff5000;
  border: none;
  color: #fff;
  cursor: pointer;
  font: inherit;
  padding: 0.5em 1em;
  transition: background-color 0.2s ease-in-out;
}

.case-study__cta button:hover {
  background-color: #e64900;
}

.details__project::after {
  content: '–';
  color: #ff5000;
  display: block;
}

.filter-list {
  animation-name: slide-from-left;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  float: right;
  margin-left: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  text-align: right;
  width: 150px;
}

@keyframes slide-from-left {
  0% {
    margin-left: 150%;
  }
  100% {
    margin-left: 50px;
  }
}

.filter-list {
  font-size: 0.875rem;
}

.filter-group {
  background-color: #dddee0;
  font-weight: normal;
  list-style-type: none;
  margin: 0 0 1em !important;
  padding: 0;
}

.filter-group--expanded {
  padding-bottom: 0.5em;
}

.filter-group--expanded li {
  display: list-item;
}

.filter-group__name,
.filter-group__item {
  cursor: pointer;
  margin: 0.25em 0;
}

.filter-group__name,
.filter-group__item p,
.filter-group__item-deselect-icon {
  padding: 0.375em 0.5em;
}

.filter-group__icon {
  float: left;
  transform: rotate(-90deg);
  transition: transform 0.1s ease-in-out;
}

.filter-group--expanded .filter-group__icon {
  transform: rotate(0deg);
}

.filter-group__name {
  background-color: #333d47;
  color: #fff;
  display: block;
  font-weight: bold;
}

.filter-group__item {
  float: right;
  clear: both;
  display: none;
}

.filter-group__item * {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.filter-group__item p {
  display: inline-block;
  margin-bottom: 0;
}

.filter-group__item i {
  display: none;
}

.filter-group__item--selected .filter-group__item-deselect-icon {
  display: inline-block;
  padding: 0.5em;
}

.filter-group__item:hover p,
.filter-group__item--selected p,
.filter-group__item--selected .filter-group__item-deselect-icon {
  background-color: #ff5000;
  color: #fff;
}

.filter-group__item--selected:hover p {
  background-color: #ff9362;
  color: #fff;
}
